@model IEnumerable<App.Domain.CourseAttendanceEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>CourseAttendanceEntity</h4>

<p>
    <a asp-controller="AdminPanel" asp-action="Home">Go back</a>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>Course</th>
            <th>Attendance Type</th>
            <th>Automated Registration</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Updated By</th>
            <th>Updated At</th>
            <th>Soft Deleted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course!.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceType!.AttendanceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutomatedRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
