@model App.Domain.SchoolEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchoolEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">School Name</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">Short Name</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">Domain</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domain)
        </dd>
        <dt class = "col-sm-2">Student Code Regex</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCodePattern)
        </dd>
        <dt class = "col-sm-2">Created By</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">Created At</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">Updated By</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">Updated At</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">Soft Deleted</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
