@model App.Domain.RefreshTokenEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RefreshTokenEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">User</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">Token</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class = "col-sm-2">Created By IP</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByIp)
        </dd>
        <dt class = "col-sm-2">Expiration Time</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationTime)
        </dd>
        <dt class = "col-sm-2">Created By</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">Created At</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">Updated By</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">Updated At</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">Soft Deleted</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
