@model IEnumerable<App.Domain.RefreshTokenEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="AdminPanel" asp-action="Home">Go back</a>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRevoked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacedByTokenId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevokedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevokedByIp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByIp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User!.UniId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRevoked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplacedByTokenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevokedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevokedByIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
