@model IEnumerable<App.Domain.WorkplaceEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>WorkplaceEntity</h4>

<p>
    <a asp-controller="AdminPanel" asp-action="Home">Go back</a>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Identifier</th>
        <th>Classroom</th>
        <th>Computer Code</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Updated By</th>
        <th>Updated At</th>
        <th>Soft Deleted</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Identifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classroom!.Classroom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
